/* add css module styles here (optional) */
.month-picker-dropdown {
  position: relative;
  width: 100%;
  outline: none;
  max-width: 470px;
  .select-months {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    cursor: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 0.5px rgba(0, 0, 0, 0.2);
    border-left: solid 0.5px rgba(0, 0, 0, 0.2);
    border-right: solid 0.5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
  }
  .select-picker {
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
    border-left: solid 0.5px rgba(0, 0, 0, 0.2);
    border-right: solid 0.5px rgba(0, 0, 0, 0.2);
    .select-picker-options {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      max-width: none;
      max-height: 256px;
      .options {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        line-height: 48px;
        height: 48px;
        padding: 0 16px;
        text-align: left;
        text-decoration: none;
        max-width: 100%;
        position: relative;
        cursor: pointer;
        outline: none;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        box-sizing: border-box;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.04);
        .option-checkbox {
          margin-right: 10px;
        }
      }
      .selected-month-background-color {
        background: #1976d2;
        color: #fff;
      }

      .hovered-month-background-color {
        background-color: #6a9ccf;
      }
    }
    .okay-and-cancel {
      display: flex;
      .okay-and-cancel-container-button {
        flex: 1;
        background: #1976d2;
        color: #fff;
        border: 0px;
        padding: 10px 20px;
        cursor: pointer;
      }
      .okay-and-cancel-container {
        flex: 1;
      }
    }
  }
  .visibility-hidden {
    visibility: hidden;
  }
  .visibility-shown {
    visibility: visible;
  }
  .hide-me {
    display: none;
  }
}
